* {
    font-family: monospace;
}
nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
}
a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}